In [45]:
import pandas as pd
import numpy as np
#import torch
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
data_folder = 'Data/'

In [ ]:
train = pd.read_excel(data_folder + 'train.xlsx')

In [122]:
data_cols = list(set(train.columns) - set(['lith', 'goal', 'well id']))
label_cols = ['lith', 'goal']
all_lith = pd.unique(train['lith'])
all_lith = all_lith[:-1]
all_lith = ['lith_' + str(x) for x in all_lith]

In [123]:
all_lith

['lith_NK',
 'lith_ARGILLIT',
 'lith_DENSE',
 'lith_ALEVROLIT',
 'lith_SAND',
 'lith_SAND_GL',
 'lith_NYA_KOLLEKTOR',
 'lith_SAND_UPLOT',
 'lith_COAL',
 'lith_SAND_ALEV',
 'lith_LIMESTONE',
 'lith_MERGEL']

In [30]:
wells = train['well id'].unique()
train_well, valid_well = train_test_split(wells, test_size = 0.2, random_state = 42)

In [143]:
data = {}
labels = {}
for wel in wells:
    data[wel] = train[train['well id'] == wel][data_cols]
    for col in data_cols:
        data[wel][col + '_nan'] = pd.isna(data[wel][col]).astype('int32')
    labels[wel] = train[train['well id'] == wel][label_cols]
    data[wel][pd.isna(data[wel])] = -1
    labels[wel] = pd.get_dummies(labels[wel])
    missing_labels = list(set(all_lith) - set(labels[wel].columns))
    for lbl in missing_labels:
        labels[wel][lbl] = 0
    labels[wel] = labels[wel][['goal'] + all_lith]

In [145]:
labels[2].describe()

,goal,lith_NK,lith_ARGILLIT,lith_DENSE,lith_ALEVROLIT,lith_SAND,lith_SAND_GL,lith_NYA_KOLLEKTOR,lith_SAND_UPLOT,lith_COAL,lith_SAND_ALEV,lith_LIMESTONE,lith_MERGEL
count,1472.000000,1472.0,1472.000000,1472.000000,1472.000000,1472.000000,1472.0,1472.0,1472.0,1472.0,1472.0,1472.0,1472.0
mean,0.085598,0.0,0.800951,0.073370,0.040082,0.085598,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.279864,0.0,0.399421,0.260831,0.196217,0.279864,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0